<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <a href="{{ site.baseurl | relative_url }}">Home</a>
      <a href="{{ site.baseurl }}/demos/lesson1" | relative_url>Lesson 1</a>
      <a href="{{ site.baseurl }}/demos/lesson2" | relative_url>Lesson 2</a>
      <a href="{{ site.baseurl }}/demos/lesson3" | relative_url>Lesson 3</a>
      <!-- Add more lessons or other pages as needed -->
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2024 jvsocial</p>
  </footer>
</body>
</html>
